<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="resource.goodsMapper">
  
 
   
  	<!-- 상품 리스트 올 -->
  	<select id="selectGoods" resultType="model.vo.GoodsVO">
  	select product_cd, product_name, product_content, product_price, product_su, product_url 
    	from product
  	</select>
  	
	<!-- 상품 상세보기 -->
	<select id="selectone" resultType="model.vo.GoodsVO">
		select product_cd, product_name, product_content, product_price, product_su, product_url 
    	from product where product_cd=#{product_cd}
	</select>




  	
  	<!-- <insert id="insertGoods"  parameterType="model.vo.GoodsVO">
  		<selectKey resultType="int" keyProperty="id" order="BEFORE">
  			select opal_seq.nextval from dual
  		</selectKey>
  		insert into product (product_cd, product_writer, product_name, product_content, product_price, product_su, product_url) values (#{PRODUCT_CD}, #{PRODUCT_WRITER}, #{PRODUCT_NAME}, #{PRODUCT_CONTENT}, #{PRODUCT_PRICE}, #{PRODUCT_SU}, #{PRODUCT_URL}))
    </insert>
  	
  	<update id="updateGoods" parameterType="model.vo.GoodsVO">
		update product set
		product_name = #{product_name}, product_content = #{product_content}, product_price = #{product_price}, product_su = #{product_su}, product_url = #{product_url}
		where product_cd = #{product_cd}
	</update>
  	
  	 -->
  	

 
  	
  </mapper>