<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="resource.GoodsMapper">
  
 <!--  PRODUCT_CD, PRODUCT_NAME, PRODUCT_CONTENT,PRODUCT_PRICE,FARM_CD,PRODUCT_SU -->
    	<insert id="insertGoods" parameterType="model.vo.GoodsVO">
  		insert into product (product_cd, product_name, product_content, product_price, farm_cd, product_su)
  		 values (product_seq.nextval, #{product_name}, #{product_content}, #{product_price}, 1, #{product_su})
  	</insert>
  
  <select id="listAllGoods"  resultType="model.vo.GoodsVO">
    	select product_cd, product_name, product_content, product_price, farm_cd, product_su from product 
 	</select>
  	
  
  <!-- 	<insert id="insertGoods" parameterType="model.vo.GoodsVO">
  		insert into product values
  		(product_seq.nextval,#{PART_ID}
  		,#{PRODUCT_NAME},#{PRODUCT_CONTENT},#{PRODUCT_PRICE},#{PRODUCT_SU})
  	</insert>
  	
  	<insert id="insertGoods"  parameterType="model.vo.GoodsVO">
  		<selectKey resultType="int" keyProperty="id" order="BEFORE">
  			select opal_seq.nextval from dual
  		</selectKey>
  		insert into product (PRODUCT_NAME, PRODUCT_CONTENT, PRODUCT_PRICE, PRODUCT_SU) values (#{PRODUCT_NAME}, #{PRODUCT_CONTENT}, #{PRODUCT_PRICE}, #{meetingDate}))
    </insert>
  	 -->
  	
  	
  	
  	
<!-- <select id="listAllGoods" parameterType="java.util.HashMap" resultType="model.vo.GoodsVO">
  		select post_id,mem_userid,mem_username,post_title,post_content,post_writedate,post_hit,post_location,post_payment,post_phone,post_review_count from 
		(select post_id,mem_userid,mem_username,post_title,post_content,post_writedate,post_hit,post_location,post_payment
		,post_phone,post_review_count,rownum rnum from 
		(select post_id,jobad.mem_userid mem_userid,mem_username,post_title,post_content,to_char(post_writedate,'yyyy"년" mm"월" dd"일" hh24"시":mi"분"') post_writedate,post_hit,post_location,post_payment 
		,post_phone,post_review_count from jobad,meminfo where jobad.mem_userid=meminfo.mem_userid
		 order by post_writedate desc)) 
		where rnum between #{getWritingStart} and #{getWritingEnd}
  	</select> -->
  	
  	
  	
  	
  	
  	
  </mapper>