<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resource.DataMapper">
	<!--0309 jung selectwriter mapper -->
	<select id="csickData1" parameterType="string"
		resultType="model.vo.SickfoodVO">
		select food_cd, food_name, food_img from sickfood where sick_cd= #{sick_cd}
	</select>
	
	
</mapper>
