
* {
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}

html {
height: 100%;
}
body {
margin: 0;
height: 100%;
}


.logo{
	width:100px;
}

.wrapper {
	min-height: 100%;
    position: relative;
	margin-left:50px;
	margin-right:50px;
	padding-bottom : 50px;
}

.list_goods {
	overflow : hidden;
}

.inner_listgoods{
	overflow : hidden;
	text-align : center;
}

 
#columns{
	column-count:4;
	column-gap:10px;
	text-align:center;
	font-size:20px;
	font-weight:bold;
}

.card{
	height:450px;
	width: 270px;
	display: inline-block;
	border: solid 1px rgba(46, 46, 46, 0.25);
	box-shadow: 0px 5px 5px 0px #ccc;
	padding: 15px;
	padding-bottom: 15px;
	margin: 20px auto;
	text-align:center;
}


img {
	width : 200px;
}


h1 {
	font-family: "Do hyeon", sans-serif;
	font-size : 40px;
	text-align : center;
	margin-top : 100px;
}

.title {
	font-family: "Do hyeon", sans-serif;
	font-size : 30px;
}

.copy {
	font-family: "noto sans", sans-serif;
	font-size : 15px;
}

.btn{
	background-color: #86B404;
	border: none;
	color: white;
	padding: 10px 30px;
	width: 240px;
	margin-top: 5px;
	margin-bottom: 10px;
	margin: auto;
	text-align: center;
	font-family: 'noto sans', san-serif;
	font-size: 16px;
}

.btn {

  -webkit-transition-duration: 0.4s; /* Safari */

  transition-duration: 0.4s;

}

.btn:hover {

  background: #312f4a; 

  color: white;

}
