

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@500&display=swap');



* {
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}

html {
height: 100%;
}
body {
margin: 0;
height: 100%;
}



#sickbox{
   height : 1600px;
   margin-top : 100px;
   margin-left : 100px;
   margin-right : 100px;
   margin-bottom : 100px;
    position: relative;
    text-align : center;
}

.sickbox2{
   min-height : 1500px;
}

h2 {
   margin-top : 100px;
   margin-bottom : 100px;
   text-align : center;
   font-family: 'Noto Serif KR', serif;
}

h3 {
   margin-bottom : 50px;
   text-align : center;
   font-family: 'Noto Serif KR', serif;
}

.h3 {color:#fff;}

h4 {
   margin-bottom : 50px;
   text-align : center;
   font-family: 'Noto Serif KR', serif;
}

h5 {
   font-size : 20px;
   margin-top : 100px;
   margin-bottom : 100px;
   font-family: 'Noto Serif KR', serif;
}

#box{
   
   text-align : center;
      
}

#box2{
   float : left;
   margin : 10px;
}


.box {
   background-color: #86B404;
   border: none;
   color: white;
   padding: 10px 30px;
   width: 150px;
   height: 150px;
   text-align: center;
   font-family: 'Do Hyeon', san-serif;
   font-size: 30px;
}

.box {

  -webkit-transition-duration: 0.4s; /* Safari */

  transition-duration: 0.4s;

}

.box:hover, .box:focus {
   background-color: #312f4a;
   color: #fff;
}

.foodwrapper {
   text-align : center;
}

.footer{
   margin-top:100px;
}

.banner {
   background-image: url(../images/food_blue.PNG);
   background-position: center top;
   background-repeat: no-repeat;
   -moz-background-size: cover;
   -o-background-size: cover;
   -webkit-background-size: cover;
   background-size: cover;
   min-height: 300px;
}

.banner-text {
   padding-top: 25%;
}

.banner-text h1 {
   color: #fff;
   font-family: "Open Sans", sans-serif;
   font-weight: 700;
   text-transform: uppercase;
   margin-bottom:50px;
}

.banner-text p {
   color: #fff;
   font-size: 22px;
   font-weight: 300;
   line-height: 1.5;
   margin-bottom: 80px;
}
